In [1]:
import os
import pandas as pd

# Path to original dataset
DATASET_DIR = "realwaste"

data = []

for class_name in os.listdir(DATASET_DIR):
    class_path = os.path.join(DATASET_DIR, class_name)
    
    if os.path.isdir(class_path):
        for img_name in os.listdir(class_path):
            data.append({
                "image_name": img_name,
                "class": class_name
            })

df = pd.DataFrame(data)
df

             image_name       class
0       Cardboard_1.jpg   Cardboard
1      Cardboard_10.jpg   Cardboard
2     Cardboard_100.jpg   Cardboard
3     Cardboard_101.jpg   Cardboard
4     Cardboard_102.jpg   Cardboard
...                 ...         ...
4747  Vegetation_95.jpg  Vegetation
4748  Vegetation_96.jpg  Vegetation
4749  Vegetation_97.jpg  Vegetation
4750  Vegetation_98.jpg  Vegetation
4751  Vegetation_99.jpg  Vegetation

[4752 rows x 2 columns]

In [2]:
df['class'].value_counts()

class
Plastic                921
Metal                  790
Paper                  500
Miscellaneous Trash    495
Cardboard              461
Vegetation             436
Glass                  420
Food Organics          411
Textile Trash          318
Name: count, dtype: int64

In [3]:
df.to_csv('image class.csv')

In [4]:
import shutil

NEW_IMAGE_DIR = "all_images"
os.makedirs(NEW_IMAGE_DIR, exist_ok=True)

for _, row in df.iterrows():
    src_path = os.path.join(DATASET_DIR, row["class"], row["image_name"])
    
    new_image_name = f"{row['image_name']}"
    dst_path = os.path.join(NEW_IMAGE_DIR, new_image_name)
    
    shutil.copy(src_path, dst_path)